
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 71 77% 77%;
    --foreground: 209 65% 23%;

    --card: 0 0% 100%;
    --card-foreground: 209 65% 23%;

    --popover: 71 77% 77%;
    --popover-foreground: 209 65% 23%;

    --primary: 196 51% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 97 39% 63%;
    --secondary-foreground: 209 65% 23%;

    --muted: 97 39% 63%;
    --muted-foreground: 209 65% 23%;

    --accent: 97 39% 63%;
    --accent-foreground: 209 65% 23%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 97 39% 63%;
    --input: 97 39% 63%;
    --ring: 196 51% 32%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 209 65% 23%;
    --foreground: 71 77% 77%;

    --card: 209 65% 23%;
    --card-foreground: 71 77% 77%;

    --popover: 209 65% 23%;
    --popover-foreground: 71 77% 77%;

    --primary: 196 51% 32%;
    --primary-foreground: 0 0% 100%;

    --secondary: 97 39% 63%;
    --secondary-foreground: 209 65% 23%;

    --muted: 97 39% 63%;
    --muted-foreground: 209 65% 23%;

    --accent: 97 39% 63%;
    --accent-foreground: 209 65% 23%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 71 77% 77%;

    --border: 97 39% 63%;
    --input: 97 39% 63%;
    --ring: 196 51% 32%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
